
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Welcome to the Weather API Consumption Demo</h1>
    <p>To make use of this application, please register for an API key at <a href="http://openweathermap.org/api" target="_blank">http://openweathermap.org/api</a>.
    </p>
    <p>After receiving your APPID from openweathermap.org, change your appid strings in 2 places:
    <ul>
        <li>Views -> Home -> WeatherJS.cshtml (in the jQuery at the bottom)</li>
        <li>Models -> Weather.cs </li>
    </ul>
    </p>
    <p class="warning">This app will not work unless you change your appid as stated above.</p>
    </div>