
@{
    ViewBag.Title = "WeatherJS";
}

<h2>WeatherJS</h2>
<div class="col-md-12">
    <h1>Current Conditions in <span data-bind="text:name"></span></h1>
</div>

<div class="col-md-12">
    Temperature is <span data-bind="text:main.temp"></span>&deg; F
</div>

<div class="col-md-12" data-bind="weather.description">
    
</div>

<script>
    var weather = Object();
    var appid = "Change This To Your APP ID from openweathermap.org";
    $(document).ready(function () {
        $("button").click(function () {
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Cleveland&APPID=" + appid + "&units=imperial", function (response) {
                //response
                console.log(response);
                weather = ko.mapping.fromJS(response);  //populate the weather object
                ko.applyBindings(weather);

            });
        });
    });
       
</script>
